<div class="container">
  <div class="row configuration-header">
    <a [routerLink]="'/'" class="btn btn-info">
      <i class="fa fa-arrow-left"></i>
      Back
    </a>
    <a (click)="saveVocabulary()" class="btn btn-primary pull-right" *ngIf="local">
      Save
    </a>
  </div>

  <div class="alert alert-success alert-dismissible fade in" role="alert" *ngIf="showAlert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showAlert = false">
      <i aria-hidden="true" class="fa fa-times"></i>
    </button>
    The vocabulary has been successfully saved in <strong>{{ savedIn }}</strong>.
  </div>

  <ul class="nav nav-tabs">
    <li *ngFor="let type of types" [ngClass]="{active: selectedType === type}">
      <a (click)="selectedType = type">{{ type | capitalize }}</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      <p class="type-description">{{guideLabels[selectedType]}}</p>
      <word-settings *ngFor="let word of vocabulary[selectedType]; let i = index" [word]="word" [type]="selectedType" [id]="i" (onDelete)="removeWord(i, selectedType)"></word-settings>
      <div class="pull-right">
        <button class="btn btn-lg btn-primary add-button" (click)="addWord(selectedType)"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </div>
</div>