<div class="container">
  <a [routerLink]="['/']" class="btn btn-default">Back</a>

  <ul class="nav nav-tabs">
    <li *ngFor="let type of types" [ngClass]="{active: selectedType === type}">
      <a (click)="selectedType = type">{{ type | capitalize }}</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      <word-settings *ngFor="let word of vocabulary[selectedType]; let i = index" [word]="word" [type]="selectedType" [id]="i"></word-settings>
      <div class="pull-right">
        <button class="btn btn-lg btn-primary add-button" (click)="addWord(selectedType)"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </div>
</div>