<div class="container">
  <p *ngIf="!error" class="story">{{ story }}</p>
  <p *ngIf="error === 'vocabulary'" class="error">Vocabulary is incorrect! Please fill it in the vocabulary configuration.</p>
  <div class="buttons">
    <button class="btn btn-primary btn-lg btn-block" (click)="writeStory()" [disabled]="error">New story</button>
    <button class="btn btn-default btn-sm btn-block btn-options" (click)="displayOptions=!displayOptions">
      <span *ngIf="!displayOptions">More options</span>
      <span *ngIf="displayOptions">Less options</span>
    </button>
  </div>
  <story-options *ngIf="displayOptions" [configuration]=configuration></story-options>
</div>