@media screen and (min-height:700px) {
  .container {
    margin-top: 10vh;
  }
  .story {
    margin-bottom: 10vh;
  }
}
.story {
  text-align: center;
  color: grey;
  font-size: 2em;
  margin-bottom: 7vh;
}
.error {
  text-align: center;
  color: red;
  font-size: 2em;
  margin-bottom: 10%;
}
.buttons {
  margin-left: auto;
  margin-right: auto;
  width: 25%;

  .btn {
    text-align: center;
  }
  .btn-block {
    margin-bottom: 2em;
  }
  .btn-options {
    width: 50%;
    min-width: 8em;
    margin-left: auto;
    margin-right: auto;
  }
}