.word-settings {
  margin: 10px;
  padding: 5px;

  .header {
    background-color: #619b61;
    border-radius: 10px;
    padding-left: 10px;
    min-height: 1.2em;

    a {
      color: white;
      font-size: 1.1em;
      font-weight: bold;
      cursor: pointer;

      &:hover, &:focus {
        text-decoration: none;
        color: white;
      }
    }

    button.btn-delete {
      background: none;
      border: none;
      padding-top: 2px;
      font-size: 1.1em;
      color: #922f2f;

      &:hover {
        color: #e6b2b2;
      }
    }
  }

  .content {
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: lightgray;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    transform-origin: top;
  }
}